nav {

    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav > div {

    display: flex;
    justify-content: center;
    max-width: none;
}

#buscador {

    border: 1px solid black;
    
    
}


