.contenedor{

    display: flex;
    justify-content: center;
}

.columna{

    background-color:whitesmoke;
    padding: 100px;
    margin: 0 5px;


}

.columnas{

    background-color:whitesmoke;
    padding: 100px;
    margin: 0 5px;
 

}

.columnass{

    background-color:whitesmoke;
    padding: 100px;
    margin: 0 5px;
 

}



 
 